* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-content {
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  gap: 8em;
  align-self: center;
  width: 87em;
}




/* Portfolio Header */

#portfolio-header {
  display: flex;
  gap: 1em;
  align-items: center;
  max-width: 70em;
}

#portfolio-header-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 30%;
  max-width: 20em;
}

.portfolio-header-image {
  border-radius: 10%;
}

#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 70%;
}




/* About Section */

#about-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}




/* Project Section */

.experience {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-container {
  display: flex;
  gap: 0.3em;
  flex-wrap: wrap;
  justify-content: left;
}

    /* Project Cards */

    .project-card {
      width: 17em;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      color: buttontext;
      text-decoration: none;
      transition: transform 200ms ease-in-out;
      padding: 0.7em;
    }

    .project-card:hover {
      transform: rotate(3deg);
      border-radius: 1em;
      outline-offset: 10px;
      background-color: white;
      box-shadow: 0 1em 3em rgba(0, 0, 0, 0.3);
    }

    .project-card-text-container {
      flex-direction: column;
      display: flex;
    }

    .project-image {
      width: 100%;
      height: auto;
      margin-bottom: 1em;
      object-fit: cover;
      object-position: center;
      border-radius: 1em;
    }




/* Project Pages */

#project-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-header-image {
  width: 100%;
  height: auto;
}

#project-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

    /* Project Gallery */

    #project-gallery {
      display: flex;
      flex-direction: column;
      /*gap: 16px;*/
    }

    .project-gallery-content {
      display: flex;
      flex-wrap: wrap;
      /*gap: 34px 16px;*/
    }

    .gallery-image-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      /*gap: 10px;*/
    }

    .gallery-image-container.half-width {
      width: calc((100% - 16px) / 2);
    }

    .gallery-image {
      width: 100%;
      height: auto;
    }


/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
  #main-content {
    width: 70em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  #main-content {
    width: 57em;
  }
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
  #main-content {
    width: 40em;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #main-content {
    width: 35em;
  }

  #portfolio-header {
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #main-content {
    width: 30em;
  }

  .project-card {
    align-self: center;
  }
}
