---
layout: default
title: Home
---

<div id="introduction">
  <div id="introduction-image">
    <img src="/assets/images/pedro-beirao.jpg">
  </div>

  <div id="introduction-items">
    <div>
      <span class="main-title">Hey, I'm
        <span style="color: blue; font-size: ;">
          Pedro Beirão
        </span>
      </span>
      <div class="body-text">Software Engineer</div>
    </div>
    <div id="header-links">
      {% for link in site.links %}
        <a class="icon-link" target="_blank" href="{{ link.link }}{{ link.user }}">
          <img src="./assets/icons/{{ link.icon }}" class="footer-icon"/>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<!--TODO white is blinding-->

<!--TODO EU PT NL flags-->

<!--TODO add a /now page-->
<!--TODO email the guy to get the page featured in his site nownownow.com-->

<span class="subheader-text">Projects</span>
<div class="filters">
  {% assign roles = site.projects | map: "role" | uniq %}
  {% for role in roles %}
    <button class="filter-role" data-role="{{ role }}">{{ role }}</button>
  {% endfor %}

  <button class="filter-blog" data-role="true">
    Has Blog

    <img src="./assets/icons/external-link.svg" />
  </button>

  <select id="filter-tag">
    <option value="">All Tags</option>
    {% assign tags = site.projects | map: "tags" | uniq %}
    {% for tag in tags %}
      <option value="{{ tag }}">#{{ tag }}</option>
    {% endfor %}
  </select>
</div>

<div class="grid">
  <!--TODO add a random button or randomise this-->
  {% for project in site.projects %}
    <!--data-tags: Convert tags list into string with , separators-->
    <div class="grid-item"
      data-link="{{ project.link }}"
      data-role="{{ project.role }}"
      data-blog="{{ project.blog }}"
      data-tags="{% for tag in project.tags %}{{ tag }}{% unless forloop.last %},{% endunless %}{% endfor %}"
      onclick="if(this.dataset.link)window.location.href = this.dataset.link;">
      <img class="grid-item-image" src="./assets/images/projects/{{ project.name }}.jpg" onerror="this.style.display='none'">
      <div class="subheader-text" style="position: relative;">
        {{ project.name }}

        {% if project.blog %}
          <a href="{{ project.blog }}" class="blog"
            onclick="event.stopPropagation();">
            <img src="./assets/icons/external-link.svg"/>
          </a>
        {% endif %}
      </div>
      <div class="body-text">{{ project.desc }}</div>
      <div class="grid">
        {% if project.role != "Author" %}
          <div class="role">{{ project.role }}</div>
        {% endif %}
      <!--</div>
      <div class="grid">-->
       {% for tag in project.tags %}
          <div class="tag">#{{ tag }}</div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

<script src="/assets/js/index.js"></script>
