---
layout: default
title: Home
---

<div id="introduction">
  <div id="introduction-image">
    <img src="./assets/images/pfp.jpg">
  </div>

  <div id="introduction-items">
    <div>
      <span class="main-title">Hey, I'm
        <span style="color: blue; font-size: ;">
          Pedro Beirão
        </span>
      </span>
      <div class="body-text">Software Engineer</div>
    </div>
    <div id="header-links">
      {% for link in site.links %}
        <a class="icon-link" target="_blank" href="{{ link.link }}{{ link.user }}">
          <image src="./assets/icons/{{ link.icon }}" class="footer-icon"/>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<span class="subheader-text">Projects</span>
<div class="grid">
  {% for project in site.projects %}
    <a class="grid-item" href="{{ project.link }}">
      <img class="grid-item-image" src="./assets/images/{{ project.name }}.jpg">
      <div class="subheader-text">{{ project.name }}</div>
      <div class="body-text">{{ project.desc }}</div>
    </a>
  {% endfor %}
</div>

<br>
<span class="subheader-text">Some other projects that I don't currently have a way to display neatly like the ones above:</span>
<div class="grid">
  <a class="grid-item">
    <div class="project-card-text-container">
      <div class="subheader-text">Intruder Map Recovery</div>
      <div class="body-text">Scripts and tools to recover Intruder maps made with older Unity version, and port them to make them playable again</div>
    </div>
  </a>

  <a class="grid-item">
    <div class="project-card-text-container">
      <div class="subheader-text">dsda related scripts</div>
      <div class="body-text">Some scripts I made and distributed to be used in dsda related purposes, as well as the one off builds</div>
    </div>
  </a>

  <a class="grid-item">
    <div class="project-card-text-container">
      <div class="subheader-text">Unity Playground</div>
      <div class="body-text">My personal playground project to test/show Unity stuff</div>
    </div>
  </a>

  <a class="grid-item">
    <div class="project-card-text-container">
      <div class="subheader-text">Other OSS</div>
      <div class="body-text">I would like to find a way to include some open source projects I've contributed to, tbf it's mostly Doom related :P</div>
    </div>
  </a>

  <a class="grid-item">
    <div class="project-card-text-container">
      <div class="subheader-text">FAIR</div>
      <div class="body-text">FAIRification of a Commercial Aircraft Accidents dataset</div>
    </div>
  </a>

  <a class="grid-item">
    <div class="project-card-text-container">
      <div class="subheader-text">LLM Quantization</div>
      <div class="body-text">A comprehensive research project evaluating the impact of quantization on LLM energy consumption, inference latency, and accuracy using standardized benchmarks</div>
    </div>
  </a>

  <a class="grid-item">
    <div class="project-card-text-container">
      <div class="subheader-text">Thesis</div>
      <div class="body-text">Building an editor for the IEC-61499 standard</div>
    </div>
  </a>
</div>
