---
layout: default
title: Home
---

<div id="introduction">
  <div id="introduction-image">
    <img src="./assets/images/pfp.jpg">
  </div>

  <div id="introduction-items">
    <div>
      <span class="main-title">Hey, I'm
        <span style="color: blue; font-size: ;">
          Pedro Beirão
        </span>
      </span>
      <div class="body-text">Software Engineer</div>
    </div>
    <div id="header-links">
      {% for link in site.links %}
        <a class="icon-link" target="_blank" href="{{ link.link }}{{ link.user }}">
          <image src="./assets/icons/{{ link.icon }}" class="footer-icon"/>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<span class="subheader-text">Projects</span>
<div class="grid">
  {% for project in site.projects %}
    <a class="grid-item" href="{{ project.link }}">
      <img class="grid-item-image" src="./assets/images/{{ project.name }}.jpg">
      <div class="subheader-text">{{ project.name }}</div>
      <div class="body-text">{{ project.desc }}</div>
    </a>
  {% endfor %}
</div>
