.back {
  position: sticky;
  top: 1em;
  text-decoration: none;
  border: none;
  border-radius: 2em;
  margin: 1em;
  padding: 0.4em 0.8em;
  cursor: pointer;
  background-color: #eee;
  color: black;
}

.back:hover {
  background-color: black;
  color: #eee;
}

.content {
  font-size: 18px;
}

.content img {
  height: 20em;
  object-fit: cover;
}

.content blockquote {
  color: #666;
}

/* .content figure {
  display: block;
  text-align: center;
  font-size: 0.85em;
  color: gray;
  margin-top: 0.3em;
} */

.content figcaption {
  display: block;
  position: relative;
  color: gray;
  width: auto;
}
