.filters {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin: 1em;
}

.filters button,
.filters select{
  border: none;
  border-radius: 2em;
  padding: 0.4em 1em;
  cursor: pointer;
  background-color: #eee;
  position: relative;
  display: flex;
  gap: 8px;
  height: 2.2em;

  &.active {
    background-color: black;
    color: white;
  }

  &.active img {
    filter: invert(1);
  }
}

.filter-blog {
  margin-left: 2em;
  margin-right: 2em;
}
