<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <meta property="og:title" content="Pedro Beirão - Software Engineer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pedro-beirao.eu" />
    <meta property="og:image" content="https://pedro-beirao.eu/assets/images/pedro-beirao.jpg" />

    <title>Pedro Beirão</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
